# Expo public env vars
EXPO_PUBLIC_ANALYSIS_API_BASE_URL=https://your-render-service.onrender.com
# EXPO_PUBLIC_ANALYSIS_API_URL=https://your-render-service.onrender.com/analyze

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
